
# 2018-01-01  beego($GOPATH)/


/bin/
/pkg/
/src/*.exe
/src/github.com
!/src/github.com/beego/admin
.git

# ------------------------------------------------------------------
# git config --global core.autocrlf false  //禁用自动转换   , git config --global core.autocrlf input 
# git branch -a
# git remote -v
# git checkout branchA
# git push origin master
# git push origin xxx --tags –tags
#--------------------------------------------------------------------