
# 2018-01-01  beego($GOPATH)/

/bin
/src/github.com





# ------------------------------------------------------------------
# git config --global core.autocrlf false  //禁用自动转换  
# git branch -a
# git remote -v
# git checkout branchA
# git push origin master
# git push origin xxx
#--------------------------------------------------------------------